node-red/flows/flows.json
[
  {
    "id": "sparki-tab-main",
    "type": "tab",
    "label": "Sparki Mock Ingestion",
    "disabled": false,
    "info": "## Sparki Mock Ingestion Flow\n\nEvery 60 seconds:\n1. Queries Postgres for all active buildings + org/site context\n2. Generates realistic mock energy data per building\n3. Writes to InfluxDB v2 via HTTP POST /api/v2/write\n\n### Architecture\n\n**Why HTTP instead of a palette node?**\n- No vendor-specific dependencies\n- Same pattern we will use for Sigencloud API later\n- Easier to debug: raw request/response visible\n\n### Setup\n\n1. Open the **HTTP request** node\n2. Click the pencil next to **Use authentication**\n3. Set type to **bearer authentication**\n4. Paste the InfluxDB token from `.env`\n5. Click Update, Done, then Deploy\n\nThe Debug node shows the response — you should see HTTP 204 on success."
  },
  {
    "id": "trigger-60s",
    "type": "inject",
    "z": "sparki-tab-main",
    "name": "Every 60s",
    "props": [{ "p": "payload" }],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [["pg-fetch-buildings"]]
  },
  {
    "id": "pg-config",
    "type": "postgreSQLConfig",
    "name": "Sparki Postgres",
    "host": "postgres",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "sparki",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "node-red-ingest",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "min": "1",
    "minFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "sparki",
    "userFieldType": "str",
    "password": "Wachtwoord123",
    "passwordFieldType": "str"
  },
  {
    "id": "pg-fetch-buildings",
    "type": "postgresql",
    "z": "sparki-tab-main",
    "name": "Fetch active buildings",
    "query": "SELECT b.id::text AS building_id, b.sigen_system_id, b.name AS building_name, s.id::text AS site_id, s.organization_id::text AS org_id, b.installed_kwp, b.battery_kwh FROM buildings b JOIN sites s ON b.site_id = s.id WHERE b.active = true AND s.active = true",
    "postgreSQLConfig": "pg-config",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 330,
    "y": 120,
    "wires": [["fn-generate-mock"]]
  },
  {
    "id": "fn-generate-mock",
    "type": "function",
    "z": "sparki-tab-main",
    "name": "Generate mock data",
    "func": "// For each building, generate one realistic snapshot.\n// Output: array of point-objects (consumed by the next node).\n//\n// Field names align with Sigencloud's official OpenAPI fields:\n//   pvPower       -> pv_kw\n//   loadPower     -> load_kw\n//   evPower       -> ev_charger_kw\n//   heatPumpPower -> heatpump_kw\n//   batteryPower  -> battery_kw   (positive=charging)\n//   batterySoc    -> battery_soc\n//   gridPower     -> grid_kw      (positive=selling)\n\nconst rows = msg.payload || [];\nconst now = new Date();\nconst hour = now.getHours() + now.getMinutes() / 60;\n\nfunction pvFactor(h) {\n    if (h < 6 || h > 21) return 0;\n    const t = (h - 6) / 15;\n    return Math.max(0, Math.sin(Math.PI * t));\n}\n\nconst soc = flow.get('soc') || {};\nconst points = [];\n\nfor (const row of rows) {\n    const bid = row.building_id;\n    const installed = parseFloat(row.installed_kwp) || 6.0;\n\n    const pv = +(installed * pvFactor(hour) * (0.85 + Math.random() * 0.2)).toFixed(3);\n    const eveningBoost = (hour > 18 && hour < 22) ? 0.8 : 0;\n    const load = +(0.4 + Math.random() * 0.6 + eveningBoost).toFixed(3);\n    const ev = (hour > 17 && hour < 23 && Math.random() > 0.5) ? 3.5 : 0;\n    const heatpump = ((hour < 8 || hour > 18) && Math.random() > 0.4)\n        ? +(1 + Math.random() * 1).toFixed(3) : 0;\n\n    if (soc[bid] === undefined) soc[bid] = 50 + Math.random() * 30;\n    soc[bid] = Math.max(10, Math.min(95, soc[bid] + (Math.random() - 0.5) * 3));\n\n    const totalLoad = load + ev + heatpump;\n    const surplus = pv - totalLoad;\n    let battery = 0;\n    if (surplus > 0.3 && soc[bid] < 90) battery = Math.min(surplus, 3.0);\n    else if (surplus < -0.3 && soc[bid] > 20) battery = Math.max(surplus, -3.0);\n    battery = +battery.toFixed(3);\n\n    const grid = +(pv - totalLoad - Math.max(0, battery)).toFixed(3);\n    const exportKw = grid > 0 ?  grid : 0;\n    const importKw = grid < 0 ? -grid : 0;\n    const selfConsumption = +Math.max(0,\n        Math.min(pv, totalLoad + Math.max(0, battery))\n    ).toFixed(3);\n\n    points.push({\n        measurement: 'sigen',\n        tags: {\n            org_id: row.org_id,\n            site_id: row.site_id,\n            building_id: bid,\n            source: 'mock',\n        },\n        fields: {\n            pv_kw: pv,\n            load_kw: load,\n            ev_charger_kw: ev,\n            heatpump_kw: heatpump,\n            battery_kw: battery,\n            battery_soc: +soc[bid].toFixed(1),\n            grid_kw: grid,\n            export_kw: exportKw,\n            import_kw: importKw,\n            self_consumption_kw: selfConsumption,\n        },\n    });\n}\n\nflow.set('soc', soc);\nnode.status({ fill: 'green', shape: 'dot', text: `${points.length} buildings @ ${now.toLocaleTimeString()}` });\n\nmsg.payload = points;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 560,
    "y": 120,
    "wires": [["fn-line-protocol"]]
  },
  {
    "id": "fn-line-protocol",
    "type": "function",
    "z": "sparki-tab-main",
    "name": "Format Line Protocol",
    "func": "// Convert array of points into InfluxDB Line Protocol text.\n//\n// Format per line:\n//   measurement,tag1=v1,tag2=v2 field1=value1,field2=value2 timestamp_ms\n//\n// Reference: https://docs.influxdata.com/influxdb/v2/reference/syntax/line-protocol/\n//\n// Note:\n//   - Tag values are escaped: spaces, commas, equals signs need \\\n//   - Field strings need double-quote wrapping (we have only numerics)\n//   - Timestamp in ms (matches precision=ms in the URL we POST to)\n\nconst points = msg.payload || [];\nif (points.length === 0) {\n    node.status({ fill: 'yellow', shape: 'ring', text: 'no points' });\n    return null;  // skip empty batches\n}\n\nconst tsMs = Date.now();\n\nfunction escapeTag(value) {\n    // Tag keys and values: escape commas, equals, spaces\n    return String(value).replace(/([,= ])/g, '\\\\$1');\n}\n\nconst lines = points.map(p => {\n    const tags = Object.entries(p.tags)\n        .map(([k, v]) => `${escapeTag(k)}=${escapeTag(v)}`)\n        .join(',');\n    const fields = Object.entries(p.fields)\n        .map(([k, v]) => `${k}=${v}`)\n        .join(',');\n    return `${p.measurement},${tags} ${fields} ${tsMs}`;\n});\n\nmsg.payload = lines.join('\\n');\nmsg.headers = { 'Content-Type': 'text/plain; charset=utf-8' };\n\nnode.status({ fill: 'green', shape: 'dot', text: `${points.length} lines built` });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 800,
    "y": 120,
    "wires": [["http-write-influx"]]
  },
  {
    "id": "http-write-influx",
    "type": "http request",
    "z": "sparki-tab-main",
    "name": "POST /api/v2/write",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://influxdb:8086/api/v2/write?org=sparki&bucket=energy&precision=ms",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 1040,
    "y": 120,
    "wires": [["debug-response"]]
  },
  {
    "id": "debug-response",
    "type": "debug",
    "z": "sparki-tab-main",
    "name": "Influx response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "statusCode",
    "targetType": "msg",
    "statusVal": "statusCode",
    "statusType": "auto",
    "x": 1280,
    "y": 120,
    "wires": []
  }
]
